:root {
    --primary-background-color: #E5E5E5;
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --second-text-color: #757575;
    --second-background-color: #2F303A;
}
h1,h2,h3,h4,ul,p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em
        }

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 0px 15px;
}        
ul {list-style: none;}
/* Header */
.header-container {
 display: flex;
align-items: center;
border-bottom: 1px solid #EEEEEE;}

.header {background-color: var(--white-color);
font-weight: 500}
.logo {color: var(--accent-color);}
.all-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        }

.header-nav-list{
    display: flex;
    align-items: center;
    margin-left: auto;
    }
.item:not(:last-child) {
    margin-right: 50px;
}

.header-list:hover, 
.header-list:focus {color: var(--accent-color);}
.header-list {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
text-decoration: none;

}

.current {
    color: var(--accent-color);
    text-decoration: none;}
.header-contact {
    text-decoration: none;
    color: var(--second-text-color);
   }
.header-mail {
    margin-right: 50px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}
.header-nav {
    display: flex;
}


/* Hero */
.hero-main {
    background-color: var(--second-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.hero-logo {
     color: var(--white-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        width: 696px;
            margin-left: auto;
            margin-right: auto;
}
.hero-button {
    display: block;
   
    background-color: var(--accent-color);
    color: var(--white-color);
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        margin-left: auto;
        margin-right: auto;
    }
    
/* Preference */
.prefernce-cont {
padding: 94px 0px 94px 0px;
}
.pref-flex {
    display: flex;
    padding-top: 94px;
    }
.preference-title {
        
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase
        }
.pref-item:not(:last-child) {
    margin-right: 30px;
}

.preference-info {
    margin-top: 10px;
    
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;    
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}

.work-logo {
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    width: 376px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;}
    
.work-cont {
    display: flex;
    margin-right: 30px;
    padding-bottom: 94px;
}
.work-photo:not(:last-child) {
    margin-right: 30px;
}


/* Team */
.team {
    background-color: var(--white-color);
}
.team-logo {
    padding-top: 94px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
    
        width: 264px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
    }
.team-cont {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
}
.team-card {
    border: 1px solid #EEEEEE;
}
.team-card:not(:last-child) {
    margin-right: 30px;
  }
.team-people {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
}
.team-profession {
    font-size: 16px;
    line-height: 19px;
    color: var(--second-text-color);
}
/* Sort */
.button-cont {
    display: flex;
    margin-top: 59px;
    justify-content: center;
    margin-bottom: 56px;
}
.sort-button {
    background-color: var(--white-color);
    }
.button-dif:not(:last-child) {
margin-right: 10px;
}
.portfolio-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
    }
    .portfolio-card {
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
    }
    .sort-button:hover,
    .sort-button:focus {
        background-color: var(--accent-color);
        color: var(--white-color)        ;
        }
        /* Portfolio Sort */
.sort-button {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);

    }
        .sort-button:hover,
        .sort-button:focus {
            background-color: var(--accent-color);
            color: var(--white-color);
        }
        .works-title {
            margin-top: 20px;
            margin-bottom: 4px;

            font-weight: 700;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.06em;
                }
        .work-name {
            margin-bottom: 20px;

            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
            color: var(--second-text-color);
            }
        .work-background {
            background-color: #EEEEEE;
            border: 1px solid #EEEEEE;
        }
        
        .work-background:nth-child(3n) {
            margin-right: 0px;
        }
        .work-background:nth-child(-n+3) {
            margin-bottom: 0px;
        }
        /* Footer */
.footer-logo {
    padding-top: 60px;
    margin-bottom: 20px;

    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
} 
    

.footer {
    background-color: var(--second-background-color);
    color: var(--white-color);
}
    
.footer-list {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
   }
   .footer-local {
       color: var(--white-color);
    font-style: normal;
       text-decoration: none;
       margin-bottom: 9px;
        
   }
   .footer-contact {
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        text-decoration: none;
   }
   .adress-container {
    margin-bottom: 9px;
   }
   .mail-container {
    margin-bottom: 9px;
   }